.audio_player {
  box-shadow: 0px -2px 6px 0px #ffffff59;
  padding: 24px 32px;
  flex-direction: row;
}

.audio_player_thumblin {
  width: 300px;
  height: 82px;
  border-radius: 10px;
}

.audio_player_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
}

.audio_player_subtext {
  font-size: 12px;
}

@media (max-width: 599px) {
  .audio_player {
    flex-direction: column;
  }
}

@media (max-width: 399px) {
  .audio_player_thumblin {
    justify-content: flex-start;
  }
}
