.navbar {
  background-color: var(--color-primary);
  height: 74px;
  /* width: 100vw; */
  padding: 0px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile_navbar {
  width: 100%;
}

.mobile_options {
  height: 100px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .navbar {
    height: fit-content;
    padding: 15px 32px;
    flex-direction: column;
  }
}
